html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    background: #222;
    color: rgb(109, 161, 221);
    text-shadow: 0 0 2px rgba(200, 225, 240, 0.719);
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5rem;
    width: 100%;
}
.text-page h2 {
    font-size: 60px;
    color: rgba(175, 221, 223, 0.733);
    text-shadow: 0 0 3px rgb(185, 220, 223);
    text-align: center;
    padding: 20px;
}
.text-page h3 {
    font-size: 36px;
    color: #fff;
    text-shadow: 0 0 3px #fff;
    padding: 20px;
}
.text-page p {
    
}
.top {
    color: rgb(109, 178, 224);
    width: 100%;
}
.logo {
    font-size: 2.5rem;
    text-align: center;
    width: 100%;
}

.main-nav {
    position: fixed;
    bottom: -50px;
    right: -50px;
}
.cluster {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: lime;
}
.scroller {
    background: rgb(207, 94, 1);
    width: 180px;
    height: 180px;
    border-radius: 50%;
    padding: 8px;
    border: solid 2px yellow;
    box-shadow: inset 0 0 10px white;
}
.control-buttons {
    transform: rotate(-40deg);
    width: 150px;
    height: 150px;
    padding: 13px;
    border-radius: 50%;
    background: #000;
    border: solid 2px black;
    box-shadow: inset 0 0 10px orange;
}
.button-cluster-1 {
transform: skew(15deg, 15deg);
border-radius: 50%;
background: blue;
}
.button-cluster-1 button {
    transform: skew(25deg);

}
.nav {
    width: 100%;
    transform: translate(-95%);
    position: fixed;
    height: 100vh;
    line-height: 38pt;
    box-shadow: 0 5px 20px -3px rgba(253, 253, 253, 0.479);
    background: rgba(0, 0, 0, 0.733);
    color: rgb(52, 132, 236);
    transition: transform 300ms ease-out 70ms;
    font-size: 26pt;
}
.nav::after {
    content: "Menu";
    position: absolute;
    right: -1%;
    text-align:  right;
    top: 50%;
    box-shadow: 3px 0 30px -3px orange;
    z-index: 1000;
    transform: translateY(-50%);
    padding: 5px 5px 5px 0;
    border-radius: 7px;
    background: rgba(0, 0, 0, 0.486);
    color: orange;
    transition: all .7s ease-out;
}
.nav:hover::after {
    content: "Close";
}
.nav:hover {
    transform: translate(-83%);
}
.nav ul {
    list-style: none;
    position: fixed;
    right: 0;
    height: 100vh;
}
.nav ul li {
    transform: translateX(-50%);
    line-height: 42px;
    transition: all .3s ease-out;
    margin-left: 35px;
}
.nav ul li:hover {
    color: orange;
    text-shadow: 0 0 6px rgb(226, 250, 120);
    cursor: pointer;
}
.nav ul li:active {
    color: white;
}
.justified {
    display: flex;
    flex-direction: row;
    margin-left: 80px;
    justify-content: space-between;
}

/*===========================MID=========================================*/

/*===========BOARD TOOLS======================*/
.board-tools {
    position: fixed;
    top: 100px;
    right: 100px;
    width: 100px;
    height: 310px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(253, 253, 253, 0.479), inset 0 0 5px rgba(253, 253, 253, 0.479);
    background-image: linear-gradient(to top right, rgba(255, 255, 255, 0.116), rgba(219, 166, 67, 0.247), rgba(255, 255, 255, 0.034), transparent, transparent, rgba(84, 119, 143, 0.212), rgba(66, 118, 230, 0.384), transparent);
}
.dropbtn {
    background-image: linear-gradient(to top right, rgba(54, 52, 52, 0.452), rgba(71, 69, 64, 0.548), rgba(75, 71, 71, 0.295), rgba(84, 119, 143, 0.212), rgba(66, 118, 230, 0.384), transparent);
    color: #000;
    padding: 16px;
    font-size: 16px;
    border: none;
    width: 90px;
    margin-left: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(253, 253, 253, 0.144);
    outline: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    margin-top: 10px;
    color: orange;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 90px;
    top: 0;
    background-color: #49464667;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2),inset 0 0 10px #fff;
    z-index: 1;
    border-radius: 10px;
    max-height: 500px;
  }
  .long {
      overflow-y: scroll;
  }
  
  .dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:first-of-type {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.dropdown-content a:last-of-type {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
  
  .dropdown-content a:hover {
    background-color: rgb(106, 132, 218);
    border-top: solid 1px #000;
    border-bottom: solid 1px #000;
    box-shadow: inset 0 0 10px #000, 0 0 5px #222;
}
  
  .dropdown:hover .dropdown-content {
    display: block;
}
  
  .dropdown:hover .dropbtn {
    background-color: #f1f1f198;
    color: #000;
    text-shadow: 0 0 4px rgb(0, 162, 255);
    box-shadow: inset 0 0 5px rgba(253, 253, 253, 0.479);
}
/*BACKGROUND*/
.title {
    font-size: 10.5rem;
    position: fixed;
    top: 30%;
    left: 0;
    width: 100%;
    text-align: center;
    color: rgba(201, 207, 209, 0.493);
    z-index: -1000;
    text-shadow: 0 0 6px rgba(0, 217, 255, 0.37);
}
.rear img {
    position: fixed;
    right: 42%;
    top: 45%;
    opacity: 0.4;
    width: 450px;
}
/*==============================================API===============================================================*/
#root {
    margin: 0 auto;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    background: rgba(85, 80, 57, 0.185);
    padding: 10px;
    border-radius: 15px;
    box-shadow: inset 0 0 10px white;
  }
  
  .card {
    margin: 1rem;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(238, 184, 5, 0.575);
    background-image: linear-gradient(to top right, rgba(255, 255, 255, 0.116), rgba(219, 166, 67, 0.247), rgba(255, 255, 255, 0.034), transparent, transparent, rgba(217, 224, 110, 0.212), rgba(230, 178, 66, 0.384), transparent);
    border-right: solid 2px rgba(255, 166, 0, 0.699);
    border-bottom: solid 3px rgba(255, 166, 0, 0.719);
    text-shadow: 0 0 2px #000;
    cursor: pointer;
}
.card:hover {
    box-shadow: 0 0 20px white, inset 0 0 10px white;
    border-right: solid 2px rgba(255, 255, 255, 0.781);
    border-bottom: solid 3px rgba(255, 255, 255, 0.747);
    background-image: linear-gradient(to top right, rgba(255, 255, 255, 0.116), rgba(177, 137, 64, 0.548), rgba(255, 255, 255, 0.068), transparent, rgba(255, 255, 255, 0.075), rgba(217, 224, 110, 0.212), rgba(230, 178, 66, 0.384), rgba(255, 255, 255, 0.349));
    transition: all .7s ease-out;
    transition-timing-function: ease-in-out;
    text-shadow: 0 0 3px rgba(230, 166, 29, 0.699);
    color: rgba(255, 255, 255, 0.507);
}
  @media screen and (min-width: 600px) {
    .card {
      flex: 1 1 calc(50% - 2rem);
    }
  }
  
  @media screen and (min-width: 900px) {
    .card {
      flex: 1 1 calc(33% - 2rem);
    }
}
  @media screen and (min-width: 1200px) {
    .mid {
        width: 80%;
        margin-left: 10%;
    }
    .nav ul li {
        transform: translateX(-90%);
        line-height: 42px;
        transition: all .3s ease-out;
    }
    #root {
        width: 100%;
    }
    .container {
        width: 100%;
    }
    .card {
      flex: 1 1 calc(20% - 2rem);
    }
    #root img {
        width: 200px;
    }
  }